{% from 'macros/macros.html' import image_choice_card, location_card %}
{% macro txt2img(project, characters, locations, diffusion_models, style_prompts ) %}
<div class="row">
    <div class="col-md-9 dark-section">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="image_type" style="font-weight: bold;">Type</label>
                <select class="form-control" id="image_type" name="image_type">
                    <option value="character">Character</option>
                    <option value="location">Location</option>
                </select>
                </select>
            </div>
            <div class="form-group col-md-4" id="story_element_selector">
                <div id="character_selector" style="display: block">
                    <label for="character_name" style="font-weight: bold;">Character</label>
                    <select class="form-select" id="character_name" name="character_name">
                        {% for character in characters %}
                            <option value="{{ character.name }}">{{ character['user_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="location_selector" style="display: none">
                    <label for="location_name" style="font-weight: bold;">Location</label>
                    <select class="form-select" id="location_name" name="location_name">
                        {% for location in locations %}
                            <option value="{{ location.name }}">{{ location['user_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <div id="version_selector">
                    <label for="version_name" style="font-weight: bold;">Versions</label>
                    <select class="form-select" id="version_name" name="version_name">
                        <option value="default">default</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2" style="padding: 5px 10px;">
                <button class="generate" id="generateButton" style="width: 100%; height: 100%;">Generate</button>
            </div>
        </div>
        <div class="form-group">
            <label for="description" style="font-weight: bold;">Description:</label>
            <textarea style="background-color: lightgray; height: 60px;" class="form-control" id="description" name="description" readonly ></textarea>
        </div>
        <div class="form-group">
            <label for="prompt" style="font-weight: bold;">Prompt:</label>
            <textarea class="form-control" id="prompt" name="prompt" style="height: 100px;"></textarea>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="style_select" style="font-weight: bold;">Style:</label>
                <select class="form-select" id="style_select" name="style_select">
                    <option value="default">Default</option>
                    <option value="anime">Anime</option>
                </select>
            </div>
            <div class="form-group col-md-10">
                <label for="style_prompt" style="font-weight: bold;" >Style prompt:</label>
                <textarea class="form-control" id="style_prompt" name="style_prompt" style="height: 60px;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="negative_prompt" style="font-weight: bold;">Negative prompt:</label>
            <textarea class="form-control" id="negative_prompt" name="negative_prompt" style="height: 100px;"></textarea>    
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="model" style="font-weight: bold;">Model:</label>
                <select class="form-select" id="model" name="model">
                    {% for d_model in diffusion_models %}
                    <option value="{{ d_model }}" {% if d_model == project.diffusion_model.model %}selected{% endif %}>{{ d_model }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="steps_input" style="font-weight: bold;">Steps:</label>
                <input type="number" min="1" max="50" class="form-control" id="steps_input" value="{{ project.diffusion_model.steps }}"></input>
            </div>
            <div class="form-group col-md-2">
                <label for="batch_amount_input" style="font-weight: bold;">Batch amount:</label>
                <input type="number" min="1" class="form-control" id="batch_amount_input" value="{{ project.diffusion_model.batch }}"></input>
            </div>
            <div class="form-group col-md-2">
                <label for="seed_input" style="font-weight: bold;">Seed:</label>
                <input type="number" class="form-control" id="seed_input" value="-1"></input>
            </div>
            <div class="form-group col-md-2">
                <label for="cfg_input" style="font-weight: bold;">cfg scale:</label>
                <input type="number" min="1" max="30" step="0.5" class="form-control" id="cfg_input" value="{{ project.diffusion_model.cfg }}"></input>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="dark-section character-info" style="padding: 0;">
            <div id="character_image" style="display: none">
                {{image_choice_card(project.name, "alice.png", "/alice.png", 1, "no prompt")}}        
            </div>
            <div id="location_image" style="display: none">
                {{location_card(project.name, "the_pool_of_tears.png", "/the_pool_of_tears.png", 2, "no prompt")}}
            </div>
            <div id="placeholders">
                <img src="/static/default_character.png" id="character_placeholder" class="card-img-top">
                <img src="/static/default_location.png" id="location_placeholder" class="card-img-top" style="display: none;">
            </div>
            <div id="thumbnail-gallery" class="row flex-row flex-nowrap d-flex align-items-center" style="background-color: gray;"></div>
        </div>
    </div>
</div>
    <script  type="text/javascript">
        var latest_image = "";
        var latest_image_path = "";
        var generated_images = -1;
        var image_type = "character";
        var project_name = "{{ project.name }}";
        var types_used = [];
        var prompts_used = [];
        const gallery = document.getElementById('thumbnail-gallery');
        const characterSelector = document.getElementById('character_name');
        const locationSelector = document.getElementById('location_name');
        const versionSelector = document.getElementById('version_name');
        const imageTypeSelector = document.getElementById('image_type');
        const styleSelect = document.getElementById('style_select');
        const stylePromptBlock = {{ style_prompts | tojson }};
        var waiting = false;
        
        const pname= "{{ project.name }}";
        var promptBlock = {};
        window.onload = async function() {
            promptBlock = await fetch('/project/' + pname + '/promptblock').then(response => response.json());            
            populateVersionSelect();
            initialVersion();
            selectImageType();
            getSelectedPrompt();
            updateStylePrompt();
        };

        function containsOption(select, value) {
            for (var i = 0; i < select.options.length; i++) {
                if (select.options[i].value === value) {
                    return true;
                }
            }
            return false;
        }

        function showImageType(type){
            if(generated_images < 1){
                if(type == "character"){
                    document.getElementById('character_placeholder').style.display = 'block';
                    document.getElementById('location_placeholder').style.display = 'none';
                }
                else{
                    document.getElementById('character_placeholder').style.display = 'none';
                    document.getElementById('location_placeholder').style.display = 'block';
                }
            }
            else{
                document.getElementById('placeholders').style.display = 'none';
                if(type == "character"){
                    document.getElementById('character_image').style.display = 'block';
                    document.getElementById('location_image').style.display = 'none';
                }
                else{
                    document.getElementById('character_image').style.display = 'none';
                    document.getElementById('location_image').style.display = 'block';
                }
            }
        }

        async function initialVersion(){
            const url = new URL(window.location.href);
            const params = url.searchParams;

            // Get the values of the parameters
            const type = params.get('type');
            if(type===null) return;
            if(type != "character" && type != "location") return;
            imageTypeSelector.value = type;

            const name = params.get('name');
            if(name===null) return;
            if(type == "character"){
                if(containsOption(characterSelector, name))
                    characterSelector.value = name;
                else
                    return;
            }
            else{
                if(containsOption(locationSelector, name))
                    locationSelector.value = name;
                else
                    return;
            }
            populateVersionSelect();
            
            const version = params.get('version');
            if(version===null) return;
            if(containsOption(versionSelector, version))
                versionSelector.value = version;
        }

        async function fetchNewImage(){
            const startTime = Date.now();
            let elapsedTime = 0;

            var URL = ((image_type == "character") ? '/get_latest_character_image' :  '/get_latest_location_image') + '?project=' + project_name;
            
            while (elapsedTime < 600000) {
                const response = await fetch(URL).then(response => response.json());

                if (latest_image != response['image']) {
                    latest_image = response['image'];
                    latest_image_path = response['image_directory'];
                    generated_images++;

                    if(generated_images>0){
                        addNewestImage(latest_image_path, latest_image, image_type);
                    }
                    return true;
                }

                elapsedTime = Date.now() - startTime;
                await new Promise(resolve => setTimeout(resolve, 5000)); // Wait for 5 seconds before trying again
            }
            return false;
        }

        function populateVersionSelect(){
            versionSelector.innerHTML = '';
            image_type = imageTypeSelector.value.toLowerCase();
            if(image_type == "character")
            for (let v in promptBlock['characters'][characterSelector.value]) {
                const option = document.createElement('option');
                option.value = v;
                option.text = v;
                versionSelector.appendChild(option);
            }
            else
            for (let v in promptBlock['locations'][locationSelector.value]) {
                const option = document.createElement('option');
                option.value = v;
                option.text = v;
                versionSelector.appendChild(option);
            }
            
        }

        function selectMainImage(){
            if(types_used[0] == "character"){
                document.getElementById('default_1').getElementsByTagName('img')[0].src = "\\"+latest_image_path+"\\characters\\"+latest_image;
                document.getElementById('default_1').getElementsByTagName('img')[1].src = "\\"+latest_image_path+"\\characters\\"+latest_image;
                document.getElementById('sprite_1').getElementsByTagName('img')[0].src = "\\"+latest_image_path+"\\sprites\\"+latest_image;
                document.getElementById('sprite_1').getElementsByTagName('img')[1].src = "\\"+latest_image_path+"\\sprites\\"+latest_image;
                document.getElementById('character_card_text_1').innerHTML = latest_image.split('\\').pop();
                document.getElementById('character_prompt_1').innerHTML = prompts_used[0];

                showImageType("character");
            }
            else{
                document.getElementById('default_2').getElementsByTagName('img')[0].src = "\\"+latest_image_path+"\\"+latest_image;
                document.getElementById('default_2').getElementsByTagName('img')[1].src = "\\"+latest_image_path+"\\"+latest_image;
                document.getElementById('location_card_text_2').innerHTML = latest_image.split('\\').pop();
                document.getElementById('locations_prompt_2').innerHTML = prompts_used[0];
                showImageType("location");
            }
        }

        async function addNewestImage(path, image, type){
            if(generated_images == 0) return;
            const img = document.createElement('img');
            img.classList.add('thumbnail', 'img-thumbnail');
            if(type == "character"){
                img.src = "\\"+path+"\\characters\\"+image;
                img.setAttribute('data-default-img', "\\"+path+"\\characters\\"+image);
                img.setAttribute('data-sprite-img', "\\"+path+"\\sprites\\"+image);
            }
            else{
                img.src = "\\"+path+"\\"+image;
                img.setAttribute('data-default-img', "\\"+path+"\\"+image);
            }
            img.setAttribute('data-id', generated_images-1);
            gallery.appendChild(img);
        }

        var queued = 0;

        async function populateGallery(n = 1){
            if(queued == 0) {
                queued = n;
                await fetchNewImage();
                if(gallery.childElementCount==1)selectMainImage();
                queued--;

                for (; queued > 0; queued--) {
                    await fetchNewImage();
                }
            }
            else{
                queued += n;
            }
        }

        // Event listener for thumbnail clicks
        document.getElementById('thumbnail-gallery').addEventListener('click', function(e) {
            if (e.target.classList.contains('thumbnail')) {
                const newDef = e.target.getAttribute('data-default-img');
                const id = e.target.getAttribute('data-id');
                const type = types_used[id];
                const prompt = prompts_used[id];
                if(type == 'character'){
                    const newSpr = e.target.getAttribute('data-sprite-img');
                    
                    document.getElementById('default_1').getElementsByTagName('img')[0].src = newDef;
                    document.getElementById('default_1').getElementsByTagName('img')[1].src = newDef;
                    document.getElementById('character_card_text_1').innerHTML = newDef.split('\\').pop();
                    document.getElementById('sprite_1').getElementsByTagName('img')[0].src = newSpr;
                    document.getElementById('sprite_1').getElementsByTagName('img')[1].src = newSpr;
                    document.getElementById('character_prompt_1').innerHTML = prompt;
                }
                else{
                    document.getElementById('default_2').getElementsByTagName('img')[0].src = newDef;
                    document.getElementById('default_2').getElementsByTagName('img')[1].src = newDef;
                    document.getElementById('location_card_text_2').innerHTML = newDef.split('\\').pop();
                    document.getElementById('locations_prompt_2').innerHTML = prompt;
                }
                showImageType(type);
            }
        });

        document.getElementById('generateButton').addEventListener('click', function() {
            const prompt = document.getElementById('prompt').value;
            const stylePrompt = document.getElementById('style_prompt').value;
            const negativePrompt = document.getElementById('negative_prompt').value;
            image_type = imageTypeSelector.value.toLowerCase();
            
            const model = document.getElementById('model').value;
            const seed = parseInt(document.getElementById('seed_input').value);
            const steps = parseInt(document.getElementById('steps_input').value);
            if(steps < 1){
                alert("Steps must be greater than 0");
                return;
            }
            if(steps > 50){
                alert("Steps must be less than 50");
                return;
            }

            const batchAmount = parseInt(document.getElementById('batch_amount_input').value);
            if(batchAmount < 1){
                alert("Batch amount must be greater than 0");
                return;
            }

            const cfg = parseInt(document.getElementById('cfg_input').value);
            if(cfg < 1){
                alert("cfg scale must be greater than 0");
                return;
            }
            const version = versionSelector.value;
        
            var name = image_type === 'character' ? characterSelector.value : locationSelector.value;

            fetchNewImage(); // will tell the model what are the current images
        
            fetch('/generate_image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'},
                body: new URLSearchParams({
                    'project_name': project_name,
                    'prompt': prompt,
                    'style_prompt': stylePrompt,
                    'negative_prompt': negativePrompt,
                    'image_type': image_type,
                    'model': model,
                    'seed': seed,
                    'steps': steps,
                    'batch_amount': batchAmount,
                    'cfg': cfg,
                    'name': name,
                    'version': version})
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    for(var i=0; i<batchAmount;i++){
                        types_used.push(image_type);
                        prompts_used.push(stylePrompt+", "+prompt);
                    }
                    populateGallery(batchAmount);
                }).catch(error => console.error('Error:', error));
            
        });
        
        function updateStylePrompt(){
            if (imageTypeSelector.value == 'character') {
                document.getElementById('style_prompt').value = stylePromptBlock["characters"][styleSelect.value];
            } else {
                document.getElementById('style_prompt').value = stylePromptBlock["locations"][styleSelect.value];
            }
        }

        function selectImageType(){
            
            getSelectedPrompt();
            updateStylePrompt();

            if (imageTypeSelector.value == 'character') {
                document.getElementById('location_selector').style.display = 'none';
                document.getElementById('character_selector').style.display = 'block';
                document.getElementById('character_placeholder').style.display = 'block';
                document.getElementById('location_placeholder').style.display = 'none';
            } else {
                document.getElementById('character_selector').style.display = 'none';
                document.getElementById('location_selector').style.display = 'block';
                document.getElementById('character_placeholder').style.display = 'none';
                document.getElementById('location_placeholder').style.display = 'block';
            }
        }


        imageTypeSelector.addEventListener('change', function () {
            selectImageType();
            populateVersionSelect();
        });

        function getSelectedPrompt() {
            description = document.getElementById('description');
            prompt = document.getElementById('prompt');
            name = imageTypeSelector.value === 'character' ? characterSelector.value : locationSelector.value;
            image_type = imageTypeSelector.value.toLowerCase();
            text = promptBlock[image_type+'s'][name][versionSelector.value];
            
            if(description.value == prompt.value || (/^[^a-zA-Z]*$/.test(prompt.value))){
                prompt.value = text;
            }
            description.value = text;
        }


        versionSelector.addEventListener('change', function() {
            getSelectedPrompt();
        });
        characterSelector.addEventListener('change', function() {
            populateVersionSelect();
            getSelectedPrompt();
        });
        locationSelector.addEventListener('change', function() {
            populateVersionSelect();
            getSelectedPrompt();
        });
        styleSelect.addEventListener('change', function() {
            updateStylePrompt();
        });
    </script>
        
{% endmacro %}
