{% extends "base.html" %}
{% from 'generation/generation_txt2img.html' import txt2img %}

{% block title %}Character{% endblock %}

{% block content %}
    <div class="pt-5 px-5">
        <h2>
            <i class="icon-camera"></i>
            Generation
        </h2>
        
        <div class="section-selection">
            <button onclick="loadSubPage('txt2img')" class="segment-selector" id="txt2img-btn">
                txt2img
            </button>
            <button onclick="loadSubPage('img2img')" class="segment-selector" id="img2img-btn">
                img2img
            </button>
        </div>
        <hr style="margin-top: 0;">
        <div id="generation-window">
            <div id="txt2img_window">
            {{ txt2img(project, characters, locations, diffusion_models, style_prompts) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    
    loadSubPage = function (page) {
        if(page == 'txt2img'){
            document.getElementById('txt2img_window').style.display = 'block';
        } else {
            document.getElementById('txt2img_window').style.display = 'none';
        }
    };

    // Event listener for popstate event to handle browser navigation
    window.onpopstate = function(event) {
        if(event.state) {
            loadSubPage(event.state.page);
            selectSection( event.state.page );
        } 
    }
    
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('txt2img-btn').addEventListener('click', function () {
            selectSection('txt2img');
        });
        document.getElementById('img2img-btn').addEventListener('click', function () {
            selectSection('img2img');
        });
    });

    function selectSection(section){
        var buttons = document.querySelectorAll('.section-selection');
        buttons.forEach(button => {
            button.classList.remove('selected');
        });
    }
    
    loadSubPage("{{sub_page}}");
    selectSection("{{sub_page}}");
</script>
{% block character_section_script %}{% endblock %}
{% endblock %}
