{% extends "base.html" %}

{% block title %}Character{% endblock %}

{% block content %}
    <div class="pt-5 px-5">
        <h2>
            <i class="icon-character"></i>
            {{ name }}
        </h2>
        
        <div class="section-selection">
            <button onclick="loadSubPage('info')" class="segment-selector character-section selected" id="character-info-btn">
                Information
            </button>
            <button onclick="loadSubPage('text_data')" class="segment-selector character-section" id="character-text_data-btn">
                Text Data
            </button>
            <button onclick="loadSubPage('versions')" class="segment-selector character-section" id="character-versions-btn">
                Versions
            </button>
            <button onclick="loadSubPage('gallery')" class="segment-selector character-section" id="character-gallery-btn">
                Gallery
            </button>
        </div>
        <hr style="margin-top: 0;">
        <div id="character-section">
            {% block sub_page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    loadSubPage = function(sub_page){
        document.location.href = "/project/{{ project.name }}/characters/{{name}}/"+sub_page;
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('character-info-btn').addEventListener('click', function () {
            selectSection('info');
        });
        document.getElementById('character-text_data-btn').addEventListener('click', function () {
            selectSection('text_data');
        });
        document.getElementById('character-versions-btn').addEventListener('click', function () {
            selectSection('versions');
        });
        document.getElementById('character-gallery-btn').addEventListener('click', function () {
            selectSection('gallery');
        });
    });

    function selectSection(section){
        var buttons = document.querySelectorAll('.character-section');
        buttons.forEach(button => {
            button.classList.remove('selected');
        });
        document.getElementById('character-'+section+'-btn').classList.add('selected');
    }

    selectSection("{{sub_page}}");
</script>
{% block character_section_script %}{% endblock %}
{% endblock %}
