{% macro expandable_image(project, type, image_path, image_name, id, prompt="", name="img") %}
    <div class="expandable-image">
        <img src="\projects\{{ project }}\images\{{ type }}\\{{ image_path }}" alt="{{ image_name }}" class="card-img-top expandable-img" id="{{ name }}_{{ id }}">
        <div id="{{ name }}_Modal_{{ id }}" class="modal">
            <div id="{{ name }}_infoPanel_{{ id }}" class="info-panel" style="display: none; flex-direction: column; justify-content: center;">
                <div>
                    <h3>Name:</h3>
                    <p class="prompt" id="{{type}}_name_{{id}}">{{ image_path }}</p>
                </div>
                <br>
                <div>
                    <h3>Prompt:</h3>
                    <p class="prompt" id="{{type}}_prompt_{{id}}">{{prompt}}</p>
                </div>
            </div>
            <div class="modal-header">
                <span class="info-icon" id="{{ name }}_info_{{ id }}">&#9432;</span>
                <span class="close" id="{{ name }}_close_{{ id }}">&times;</span>
            </div>
            <img class="modal-content" id="{{ name }}_modalImg_{{ id }}" src="\projects\{{ project }}\images\{{ type }}\\{{ image_path }}" alt="{{ image_name }}">
        </div>
    </div>
    <script>
        (function() {
            var modal = document.getElementById("{{ name }}_Modal_{{ id }}");
            var img = document.getElementById("{{ name }}_{{ id }}");
            var modalImg = document.getElementById("{{ name }}_modalImg_{{ id }}");
            var infoIcon = modal ? document.getElementById("{{ name }}_info_{{ id }}") : null;
            var close = modal ? document.getElementById("{{ name }}_close_{{ id }}") : null;
            var infoPanel = document.getElementById("{{ name }}_infoPanel_{{ id }}");
            var modalContent = modal ? modal.getElementsByClassName('modal-content')[0] : null;

            if (img) {
                img.onclick = function() {
                    modal.style.display = "flex";
                }
            }

            if (close) {
                close.onclick = function() {
                    event.stopPropagation();
                    modal.style.display = 'none';
                }
            }

            if (infoIcon) {
                infoIcon.onclick = function() {
                    event.stopPropagation();
                    infoPanel.style.display = infoPanel.style.display === 'flex' ? 'none' : 'flex';
                    if (modalImg.classList.contains('has_info')){
                        modalImg.classList.remove('has_info');
                    }
                    else{                    
                        modalImg.classList.add('has_info');
                    }
                }
            }
        })();
    </script>
{% endmacro %}

{% macro gallery_choice_card(project, image_path, image_name, id, prompt="") %}
    <div class="dark-section character-info" id="choice_card_{{id}}">
        <div class="header" style="padding: 0;" >
            <div style="text-align: left">
                <button class="image-card-selector selected" id="default_{{id}}_btn">Default</button>
                <button class="image-card-selector" id="sprite_{{id}}_btn">Sprite</button>
            </div>
            <div style="text-align: right;">
                <button class="image-card-selector" id="id-card-{{id}}" onclick="openImageVersionSelector({{id}})">
                    <i class="icon-id-card-o"></i>
                </button>
                <button class="image-card-selector delete-button" id="delete-{{id}}" onclick="delete_selected({{id}})">
                    <i class="icon-delete"></i>
                </button>
                <button class="image-card-selector checkbox-button" id="checkbox_{{id}}" onclick="switch_checkbox({{id}})" style="display: none">
                    <i class="icon-check checked" style="display:none;"></i>
                    <i class="icon-check-empty unchecked"></i>
                </button>
            </div>
        </div>
        <hr style="margin-top: 0;">
            <div id="default_{{id}}" style="display: block; ">
                {{ expandable_image(project, "characters", image_path, image_name, id, prompt, "default") }}
            </div>
            <div id="sprite_{{id}}" style="display: none; ">
                {{ expandable_image(project, "sprites", image_path, image_name, id, prompt, "sprite") }}
            </div>
        <div class="card-body">
            <p class="card-text" id="character_card_text_{{id}}">{{ image_path }}</p>
        </div>
    </div>    
    <script>
        document.getElementById('default_{{id}}_btn').addEventListener('click', function () {
            document.getElementById('sprite_{{id}}').style.display = 'none';
            document.getElementById('default_{{id}}').style.display = 'block';
            this.classList.add('selected');
            document.getElementById('sprite_{{id}}_btn').classList.remove('selected');
        });
        
        document.getElementById('sprite_{{id}}_btn').addEventListener('click', function () {
            document.getElementById('sprite_{{id}}').style.display = 'block';
            document.getElementById('default_{{id}}').style.display = 'none';
            this.classList.add('selected');
            document.getElementById('default_{{id}}_btn').classList.remove('selected');
        });

    </script>

{% endmacro %}




{% macro image_choice_card(project, image_path, image_name, id, prompt="") %}
    <div class="dark-section character-info">
        <div class="d-flex">
            <button class="segment-selector selected" id="default_{{id}}_btn">default</button>
            <button class="segment-selector" id="sprite_{{id}}_btn">Sprite</button>
        </div>
        <hr style="margin-top: 0;">
            <div id="default_{{id}}" style="display: block; ">
                {{ expandable_image(project, "characters", image_path, image_name, id, prompt, "default") }}
            </div>
            <div id="sprite_{{id}}" style="display: none; ">
                {{ expandable_image(project, "sprites", image_path, image_name, id, prompt, "sprite") }}
            </div>
        <div class="card-body">
            <p class="card-text" id="character_card_text_{{id}}">{{ image_path }}</p>
        </div>
    </div>    
    <script>
        document.getElementById('default_{{id}}_btn').addEventListener('click', function () {
            document.getElementById('sprite_{{id}}').style.display = 'none';
            document.getElementById('default_{{id}}').style.display = 'block';
            this.classList.add('selected');
            document.getElementById('sprite_{{id}}_btn').classList.remove('selected');
        });
        
        document.getElementById('sprite_{{id}}_btn').addEventListener('click', function () {
            document.getElementById('sprite_{{id}}').style.display = 'block';
            document.getElementById('default_{{id}}').style.display = 'none';
            this.classList.add('selected');
            document.getElementById('default_{{id}}_btn').classList.remove('selected');
        });

    </script>

{% endmacro %}


{% macro image_card(project, type, image_path, image_name, id, prompt="") %}
    <div class="dark-section character-info">
            <div id="location_{{id}}">
                {{ expandable_image(project, "characters", image_path, image_name, id, prompt) }}
            </div>
        <div class="card-body">
            <p class="card-text" id="location_card_text_{{id}}">{{ image_path }}</p>
        </div>
    </div>    
    <script>
        document.getElementById('default_{{id}}_btn').addEventListener('click', function () {
            document.getElementById('sprite_{{id}}').style.display = 'none';
            document.getElementById('default_{{id}}').style.display = 'block';
            this.classList.add('selected');
            document.getElementById('sprite_{{id}}_btn').classList.remove('selected');
        });
        
        document.getElementById('sprite_{{id}}_btn').addEventListener('click', function () {
            document.getElementById('sprite_{{id}}').style.display = 'block';
            document.getElementById('default_{{id}}').style.display = 'none';
            this.classList.add('selected');
            document.getElementById('default_{{id}}_btn').classList.remove('selected');
        });

    </script>

{% endmacro %}


{% macro paging(current_page, page_amount, index=0) %}
<nav aria-label="Page navigation" class="paging">
    <ul class="pagination justify-content-center">
        <div style="min-width: 71px">
        <div class="pagination justify-content-center" id="first-page_{{index}}" >
            <li class="page-item first first-page">
                <a class="page-link" href="?page=1" aria-label="First" id="first_{{index}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li style="padding: 8px 12px 8px 12px;">...</li>
        </div>
        </div>
        <div class="pagination justify-content-center" id="nearby-pages_{{index}}">
            <li class="page-item" id="previous_1_{{index}}"><a class="page-link" href="?page={{ current_page - 2 }}">{{current_page - 2}}</a></li>
            <li class="page-item" id="previous_{{index}}"><a class="page-link" href="?page={{ current_page - 1 }}">{{current_page - 1}}</a></li>
            <li class="page-item selected"><span class="page-link" id="current">{{current_page}}</span></li>
            <li class="page-item" id="next_{{index}}"><a class="page-link" href="?page={{ current_page + 1 }}">{{current_page + 1}}</a></li>
            <li class="page-item" id="next_1_{{index}}"><a class="page-link" href="?page={{ current_page + 2 }}">{{current_page + 2}}</a></li>
        </div>
        <div style="min-width: 71px">
        <div class="pagination justify-content-center" id="last-page_{{index}}" >
            <li style="padding: 8px 12px 8px 12px;">...</li>
            <li class="page-item last">
                <a class="page-link" href="?page={{page_amount}}" aria-label="Last" id="last_{{index}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </div>
        </div>
    </ul>
</nav>

<script>
    var current_page = {{ current_page }};
    var page_amount = {{ page_amount }};
    var index = {{ index }};
    var previous = document.getElementById('previous_'+index);
    var previous_1 = document.getElementById('previous_1_'+index);
    var next = document.getElementById('next_'+index);
    var next_1 = document.getElementById('next_1_'+index);
    var first_page = document.getElementById('first-page_'+index);
    var last_page = document.getElementById('last-page_'+index);
    var nearby_pages = document.getElementById('nearby-pages_'+index);

    if (current_page === 1){
        first_page.style.display = 'none';
    }
    else if (current_page === page_amount){
        last_page.style.display = 'none';
    }
    if(page_amount === 1){
        first_page.style.display = 'none';
        nearby_pages.style.display = 'none';
        last_page.style.display = 'none';
    }

    if (current_page < 3){
        previous_1.style.display = 'none';
    }
    if (current_page === 1){
        previous.style.display = 'none';
    }
    if (current_page > page_amount - 2){
        next_1.style.display = 'none';
    }
    if (current_page === page_amount){
        next.style.display = 'none';
    }
</script>

{% endmacro %}
