{% extends "locations_list/locations_base.html" %}

{% block sub_page_content %}

<div class="dark-section" style="padding:40px; padding-top:0;">
    <div class="row">
        <div class="col-md-3">
            <div id="location_selector-1" style="display: block;">
                <select class="form-select" id="first_location" style=" margin: 40px 0 20px 0;">
                    {% for location, location_values in locations.items() %}
                        <option value="{{ location }}" {% if loop.index==1 %}selected{%endif%}>{{ location_values.user_name }}</option>
                        
                    {% endfor %}
                </select>
                <div class="merge-image" id="location-card-1">
                    <img alt="" class="card-img-top expandable-img" id="img_1">
                </div>
                <hr class="bottomLine">
                <div class="list-group list-group-flush" id="version_list_1" style="flex-grow: 1;">
                    
                </div>
            </div>
        </div>
        <div class="col-md-1 d-flex align-items-center justify-content-center" style="padding: 50px;">
            <h1 class="text-center" style="font-size:80px;">+</h1>
        </div>
        <div class="col-md-3">

            <div id="location_selector-2" style="display: block">
                <select class="form-select" id="second_location" style=" margin: 40px 0 20px 0;">
                    {% for location, location_values in locations.items() %}
                        <option value="{{ location }}" {% if loop.index==2 %}selected{%endif%}>{{ location_values.user_name }}</option>
                    {% endfor %}
                </select>
                <div class="merge-image" id="location-card-2">
                    <img alt="" class="card-img-top expandable-img" id="img_2">
                </div>
                <hr class="bottomLine">
                <div class="list-group list-group-flush" id="version_list_2" style="flex-grow: 1;">
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-1 d-flex align-items-center justify-content-center" style="padding: 50px;">
            <h1 class="text-center" style="font-size:80px;">=</h1>
        </div>
        <div class="col-md-3">
            <button class="generate" id="mergeButton" style="width: 100%; padding: 20px; margin-top: 20px; margin-bottom: 10px;">Merge</button>
            <div id="location_selector-3" style="display: block;">
                <div class="merge-image" id="location-card-3">
                    <img alt="" class="card-img-top expandable-img" id="img_3">
                </div>
                <hr class="bottomLine">
                <div class="list-group list-group-flush" id="version_list_3" style="flex-grow: 1;">
                    
                </div>
            </div>
        </div>
        
        
    </div>
</div>
    
<script>
    const locations = {{ locations | tojson }};

    const fist_location = document.getElementById("first_location");
    const second_location = document.getElementById("second_location");
    
    var current_first_value = first_location.value;
    var current_second_value = second_location.value;

    async function initialVersion(){
        const url = new URL(window.location.href);
        const params = url.searchParams;

        // Get the values of the parameters
        var location = params.get('first_location');
        
        if(location != null && location != "" && locations[location] != null){
            first_location.value = location;
            first_location_changed();
        }
    }
    
    initialVersion();


    function list_versions(ch_number) {
        document.getElementById("version_list_"+ch_number).innerHTML = "";
        var location = locations[ch_number == 1 ? first_location.value : second_location.value];
        const version = document.createElement('span');
        version.classList.add('list-group-item', 'list-group-item-dark');
        for( v in location.versions ) {
            version.innerHTML = location.versions[v];
            document.getElementById("version_list_"+ch_number).appendChild(version.cloneNode(true));
        }
    }

    function list_outcome_versions() {
        var ch_number = 3;
        document.getElementById("version_list_"+ch_number).innerHTML = "";
        var first = locations[first_location.value];
        var second = locations[second_location.value];
        
        var list = [];
        for( v in first.versions ) {
            list.push(first.versions[v]);
        }
        for( v in second.versions ) {
            v_name=second.versions[v];
            count = 0;
            while(list.includes(v_name)) {
                count += 1;
                v_name = v_name + "_" + count;
            }
            list.push(v_name);
        }

        const version = document.createElement('span');
        version.classList.add('list-group-item', 'list-group-item-dark');
        for( v in list ) {
            version.innerHTML = list[v];
            document.getElementById("version_list_"+ch_number).appendChild(version.cloneNode(true));
        }
    }

    function change_location(ch_number) {
        var location = locations[ch_number == 2 ? second_location.value : first_location.value];//this way we can use this for all three locations
        if(location.image != null && location.image != "")
            document.getElementById("img_"+ch_number).src = "\\projects\\"+'{{project.name}}'+"\\images\\locations\\"+location.image;
        else
            document.getElementById("img_"+ch_number).src = "/static/default_location.png";
    }

    function first_location_changed(){
        if(first_location.value == second_location.value) {
            second_location.value = current_first_value;
            current_second_value = second_location.value;
            current_first_value = first_location.value;
            list_versions(2);
            change_location(2);
        } else {
            current_first_value = first_location.value;
        }

        list_versions(1);
        change_location(1);
        change_location(3);
        list_outcome_versions();
    }

    first_location.onchange = function() {
        first_location_changed();
    }

    second_location.onchange = function() {
        if(first_location.value == second_location.value) {
            first_location.value = current_second_value;
            current_first_value = first_location.value;
            current_second_value = second_location.value;
            list_versions(1);
            change_location(1);
            change_location(3);
        } else {
            current_second_value = second_location.value;
        }

        list_versions(2);
        change_location(2);
        list_outcome_versions();
    }

    document.getElementById("mergeButton").onclick = async function() {
        let userInput = prompt("Are you sure you want to merge second location into the first one? \nPlease type the name of the second location to confirm:");

        if(userInput == null){
            return;
        }
        if(userInput != second_location.value) {
            alert("The name you entered does not match the second location's name. The merge was not performed.");
            return;
        }


        const URL='/project/{{project.name}}/locations/merge';

        await fetch(URL, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                first: first_location.value,
                second: second_location.value
            })
        }).then(response => {
            if (response.status === 200) {
                window.location.href = '/project/{{ project.name }}/location/'+first_location.value+'/info';
            }
        });
    }
    setTimeout(function() {
        // Continue with the rest of the code after 5 seconds
        list_outcome_versions();
    }, 5000);

    list_versions(1);
    list_versions(2);
    change_location(1);
    change_location(2);
    change_location(3);
    list_outcome_versions();
</script>
{% endblock %}
