:root {
    --background-color-light: #fff;
    --background-color-dark: rgb(11 15 25);
    --background-color-grey: rgb(31 41 55);
    --background-color-dark-grey: rgb(16 26 40);
    --background-color-light-grey: rgb(41 51 65);
    --background-color-very-light-grey: rgb(51 61 75);
    --text-color-dark: #333;
    --text-color-darker-light: #bbb;
    --text-color-light: #ddd;
    --text-color-lighter: #fff;
    -ms-overflow-style: none;  /* IE and Edge */
    /* ... other variables */
}

::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
}

.dark-section{
    background-color: var(--background-color-grey);
    color: var(--text-color-light);
    padding : 20px;
    border-radius: 5px;
}

.dark-section.character-info{
    padding-bottom: 0;
}

button.dark-section{
    background-color: var(0 0 0 1); /* Button background */
    color: var(--text-color-light); /* Button text color */
    font-weight: bold; /* Bold text */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 12px; /* Padding inside buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

button.dark-section:hover{
    background-color: var(--background-color-light-grey); /* Button background */
}

button.generate {
    background-color: orange; /* Button background */
    color: white; /* Button text color */
    font-weight: bold;
    border: rgb(216, 140, 0) 2px solid; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 12px; /* Padding inside buttons */
    cursor: pointer; /* Cursor effect on hover */
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

button.generate:hover{
    background-color:  rgb(224, 146, 0); /* Change the background color when hovering or focusing */
    color: white;
}

button.size-setter {
    background-color: var(--background-color-grey); /* Button background */
    color: var(--text-color-light); /* Button text color */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 12px; /* Padding inside buttons */
    cursor: pointer; /* Cursor effect on hover */
}

button.size-setter:hover{
    background-color: var(--background-color-very-light-grey); /* Change the background color when hovering or focusing */
}

button.selected-size {
    background-color: var(--background-color-very-light-grey);
    color: orange;
    border-color: orange;
    border-width: 2px;
    border-style: solid; /* Add border style */
}

button.size-setter i {
    font-size: 16px; /* Consistent icon size */
    vertical-align: middle; /* Align icons vertically */
}

button.segment-selector {
    min-width: 100px;
    background-color: var(--background-color-grey); /* Button background */
    color: var(--text-color-light); /* Button text color */
    border: 1px solid var(--text-color-darker-light); /* Add border */
    border-radius: 5px 5px 0 0;
    padding: 8px 12px; /* Padding inside buttons */
    cursor: pointer; /* Cursor effect on hover */
    font-weight: bold; /* Bold text */
}

button.segment-selector:hover {
    background-color: var(--background-color-very-light-grey); /* Button background */
}

button.segment-selector.selected {
    background-color: var(--background-color-very-light-grey); /* Button background */
    color: orange; /* Button text color */
    border-color: orange; /* Border color */
    border-width: 2px; /* Border width */
    border-style: solid; /* Add border style */
}


.project-item {
    transition: background-color 0.3s ease;
}

.project-item:hover {
    background-color: #e9ecef; /* A light grey color */
    cursor: pointer;
}

.projects-container {
    max-height: 70vh;
    overflow-y: auto;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    min-width: 200px;
    max-width: 200px;
    padding: 0;
    position: fixed; /* This makes the sidebar stay in place while scrolling */
    top: 0;         /* This positions the top of the sidebar at the top of the viewport */
    left: 0;        /* This positions the sidebar at the left of the viewport */
    height: 100vh;  /* This makes the sidebar full height */
    z-index: 100;   /* This ensures the sidebar stays on top of other content */
}

#sidebar-wrapper.dark-section {
    background-color: var(--background-color-dark-grey);
}

.sidebar-heading {
    padding: 0.5rem 0rem; /* Adjust padding as needed */
}

.sidebar-heading h3 {
    margin: 0; /* Remove margin from the heading */
    font-size: 1.5rem; /* Adjust font size as needed */
    font-weight: bold; /* Make the heading bold */
    color: var(--text-color-light); /* Light text color */
    padding: 0 10px;
}

.sidebar-heading a{
    text-decoration: none;
    color: var(--text-color-light);
}

.sidebar-heading a:hover{
    text-decoration: none;
    color: var(--text-color-lighter);
}

#menu-close {
    margin-left: auto; /* Pushes the button to the right */
}

#menu-toggle {
    position: fixed; /* Fix the button to the screen */
    left: 0; /* Align to the left side */
    top: 0; /* Align to the top */
    z-index: 1000; /* Ensure it's above other content */
}

#page-content-wrapper {
    margin-left: 200px;
    width: 100%;
}

#main-image-container {
    width: 100%;
    margin-bottom: 20px; /* Spacing between the main image and the thumbnails */
}

#main-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

#thumbnail-gallery {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling for thumbnails */
    gap: 10px; /* Spacing between thumbnails */
    padding: 10px; /* Padding around the thumbnails */
    height: 64px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow-y: hidden;
    border: 0;
}

.thumbnail {
    cursor: pointer; /* Indicates that thumbnails are clickable */
    transition: transform 0.2s; /* Smooth transformation on hover */
    box-sizing:content-box; /* Prevent shrinking when border appears */
    border: 4px solid white; 
    object-fit: contain; /* Ensures the image is scaled properly */
    max-width: 50px;
    max-height: 50px;
}

.thumbnail:hover {
    border: 4px solid orange; /* Adds an orange border when hovering over */
}


.card-link {
    color: inherit; /* Ensures the link color does not affect the card text */
    text-decoration: none; /* Removes underline from links */
}

.card {
    transition: transform .2s; /* Animation for hover effect */
}

.card:hover {
    transform: scale(1.05); /* Scales the card on hover */
    background-color: var(--background-color-light-grey); /* Light grey background color */
}

.card-img-top {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures the image covers the card area */
}

.card-body {
    padding: 0.5rem; /* Padding inside the card */
    padding-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines you want */
    -webkit-box-orient: vertical;
    line-height: 1.2em; /* fallback */
    height: 3em; /* fallback */
}

.card-text {
    text-align: center; /* Centers the text inside the card */
    font-weight: bold; /* Makes the character name bold */
}

.character-info{
    border-radius: 5px; /* Rounded corners */
}

.gallery-card .character-info{
    height: 100%;
}

.gallery-card{
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.image-container img {
    width: 100px; /* Thumbnail size */
    height: auto;
    cursor: pointer;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    height: 90vh; /* 90% of the viewport height */
    width: auto; /* Automatically adjust the width */
    object-fit: contain; /* Ensures the image is scaled properly */
    max-width: 100%; /* Maximum width of the image */
    display: block; /* Default display */
    margin: auto; /* Center the image horizontally */
}

.modal-header {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 10px; /* Adjust as needed */
    border-bottom: none;
}

.info-icon, .close {
    cursor: pointer;
    margin-left: 10px; /* Space between icons */
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.info-icon {
    padding-top: 5px;
    font-size: 30px; /* make visually identical to close */
}

.info-panel {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%; 
    height: 100%;
    background-color: var(--background-color-dark-grey);;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
}

p.prompt{
    border: 1px solid white; 
    padding: 10px; 
    white-space: pre-wrap; 
    border-radius: 5px;
}

img.has_info{
    margin-left: 15%;
}

.form-group{
    margin-bottom: 10px;
}

.form-section{
    border: 2px solid var(--background-color-very-light-grey);
    box-sizing: border-box;
    border-radius: 5px; 
    margin-bottom: 10px;
}

.version-card{
    height: 60vh;
    max-height: 60vh;
}

.version-card img.expandable-img{
    max-height: 30vh;
    max-width: 100%;
    object-fit: contain !important;
    border: 1px solid var(--background-color-very-light-grey);
}

.page-title{
    margin-left: 30px;
}

hr.bottomLine {
    margin-top: 0;
}

.card-actions{
    margin: -10px -20px -20px -20px;
}

.card-actions-open{
    background-color: var(--background-color-dark-grey);
}

.card-action{
    flex: 0 0 25%;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer; 
    background-color: var(--background-color-very-light-grey);
    color: orange;
    border-color: orange;
    border-width: 2px;
    border-style: solid; 
}

.card-action:hover{
    background-color: orange;
    color: white; 
}

.card-action-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

.card-action-switch{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; 
}
.card-action-switch:hover{
    background-color: var(--background-color-very-light-grey);
}

.list-item-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px; 
}


.list-action-container {
    display: flex;
}

.card-action:not(:last-child) {
    margin-right: 10px;
}

.list-item-container.dark-section{
    border-bottom: 1px solid var(--background-color-very-light-grey);
}

.merge-image{
    padding: 20px 20px 20px 20px ;
}