{% extends "base.html" %}

{% block title %}Locations{% endblock %}

{% block content %}
<div class="pt-5">
    <div class="header">
        
        <h2>Locations</h2>
        
        <div style="text-align: right;">
            <button class="size-setter selected-size" id="large-btn" >
                <i class="icon-th-large-outline"></i>
            </button>
            <button class="size-setter" id="medium-btn">
                <i class="icon-th-outline"></i>
            </button>
            <button class="size-setter" id="list-btn">
                <i class="icon-menu-outline"></i>
            </button>
        </div>
    </div>
    <div class="row" id="cards">
        {% for location in locations %}
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="/project/{{ project.name }}/locations/{{ location.name }}" class="card-link">
                <div class="card dark-section">
                    {% if location.img %}
                        <img src="{{ location.img }}" alt="{{ location.user_name }}" class="card-img-top">
                    {% else %}
                        <img src="/static/default_location.png" alt="{{ location.user_name }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ location.user_name }}</p>
                    </div>
                </div>
            </a>

        </div>
        {% endfor %}
    </div>
    <div class="row" id="list" style="display: none;">
        <div class="list-group list-group-flush" style="flex-grow: 1;">
            {% for location in locations %}
                <a href="/project/{{ project.name }}/locations/{{ location.name }}" class="list-group-item list-group-item-action list-group-item-dark">
                    <i class="icon-location"></i>
                    {{ location.name }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('large-btn').addEventListener('click', function () {
            setImageSize('large');
            selectSizeButton('large');
        });
        document.getElementById('medium-btn').addEventListener('click', function () {
            setImageSize('medium');
            selectSizeButton('medium');
        });
        document.getElementById('list-btn').addEventListener('click', function () {
            setImageSize('list');
            selectSizeButton('list');
        });
    });

    function selectSizeButton(size){
        var buttons = document.querySelectorAll('.size-setter');
        buttons.forEach(button => {
            button.classList.remove('selected-size');
        });
        document.getElementById(size + '-btn').classList.add('selected-size');
    }

    function setImageSize(size) {
        var cards = document.querySelectorAll('.card-img-top');
        var characterCards = document.querySelectorAll('.col-md-3, .col-md-2');
        var image_view = document.getElementById('cards');
        var list = document.getElementById('list');

        if (size === 'list') {
            image_view.style.display = 'none';
            list.style.display = 'block';
            return;
        }
        
        image_view.style.display = 'flex';
        list.style.display = 'none';

        cards.forEach(card => {
            card.style.display = 'block';  // Ensures the image is treated as a block-level element
            card.style.marginLeft = 'auto';
            card.style.marginRight = 'auto';

            switch (size) {
                case 'large':
                    card.style.width = '100%'; // or any large size
                    card.style.height = 'auto';
                    break;
                case 'medium':
                    card.style.width = '50%'; // or any medium size
                    card.style.height = 'auto';
                    break;
            }
        });

        characterCards.forEach(card => {
            card.classList.remove('col-md-3', 'col-md-2');
            switch (size) {
                case 'large':
                    card.classList.add('col-md-3');
                    break;
                case 'medium':
                    card.classList.add('col-md-2');
                    break;
            }
        });
    }
</script>
{% endblock %}

