{% extends "base.html" %}

{% block title %}Locations{% endblock %}

{% block content %}
<div class="pt-5">
    <div class="row">
        <h2>Locations</h2>
        <div class="image-size-buttons" style="text-align: right;">
            <button id="large-btn">Large Images</button>
            <button id="medium-btn">Medium Images</button>
            <button id="list-btn">List</button>
        </div>
    </div>
    <div class="row">
        {% for location in locations %}
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="/project/{{ project.name }}/locations/{{ location.name }}" class="location-card">
                <div class="card">
                    {% if location.img %}
                        <img src="{{ location.img }}" alt="{{ location.user_name }}" class="card-img-top">
                    {% else %}
                        <img src="/static/default_location.png" alt="{{ location.user_name }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ location.user_name }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('large-btn').addEventListener('click', function () {
            setImageSize('large');
        });
        document.getElementById('medium-btn').addEventListener('click', function () {
            setImageSize('medium');
        });
        document.getElementById('list-btn').addEventListener('click', function () {
            setImageSize('list');
        });
    });

    function setImageSize(size) {
        var cards = document.querySelectorAll('.card-img-top');
        cards.forEach(card => {
            switch (size) {
                case 'large':
                    card.style.width = '100%'; // or any large size
                    card.style.height = 'auto';
                    break;
                case 'medium':
                    card.style.width = '50%'; // or any medium size
                    card.style.height = 'auto';
                    break;
                case 'list':
                    card.style.width = '25%'; // or smaller for list view
                    card.style.height = 'auto';
                    break;
            }
        });
    }
</script>
{% endblock %}

